.cardColumn
  border: 1px solid gray
  width: 300px
  height: 300px
  margin-bottom: 10px
.cardCover
  width: 250px
  height: 250px
  border-radius: 5% !important
.content-aligned-center
  justify-content: center
.card
  border-radius: 10px
  margin-left: 110px !important
.cardsBlock
  margin-right: 80px !important
.questionBlock
  margin-top: 20px
