@media screen and (min-width: 576px)
  .content-aligned-center
    margin-left: 0 !important
    margin-right: 0 !important
@media screen and (min-width: 768px)
  .content-aligned-center
    margin-left: 100px !important
    margin-right: 100px !important
@media screen and (min-width: 992px)
  .content-aligned-center
    margin-left: 150px !important
    margin-right: 150px !important
@media screen and (min-width: 1200px)
  .content-aligned-center
    margin-left: 200px !important
    margin-right: 200px !important
@media screen and (max-width: 576px)
  .content-aligned-center
    margin-left: 0 !important
    margin-right: 0 !important

@media screen and (min-width: 576px)
  .cardsBlock
    margin: 0 auto !important
@media screen and (min-width: 768px)
  .cardsBlock
    margin: 0 auto !important


.card
  border-radius: 10px
.ant-drawer-wrapper-body
  background-color: #000c17 !important
.ant-drawer-header
  background-color: #000c17 !important
.ant-drawer-title
  color: #e2e2e2 !important
.ant-drawer-body
  padding: 0 !important
.cardColumn
  border: 1px solid gray
  padding: 35px !important
.cardCover
  border-radius: 5% !important
.content-aligned-center
  box-shadow: 0 9px 62px 0 rgba(97,94,97,1)
  justify-content: center
  background: #f7f7f7
  border: 3px solid #02294e
  margin-left: 250px
  margin-right: 250px
  border-radius: 1%
.questionBlock
  margin-top: 20px
.cardColumn:active
  background-color: #25c123
.cardColumn:hover
  cursor: pointer
.ant-card-meta-title
  font-size: 20px