.statisticsMain
  display: flex
  align-items: center
  justify-content: space-between
  .statisticCol
    display: flex
    align-items: center
    align-content: center
    flex-direction: column
    flex: 1
    h2
      margin-bottom: 0
    svg
      font-size: xx-large
  .likes svg
    color: #0770d4
  .dislikes svg
    color: #d40707
  .views svg
    color: #0099bd

