.comments-container
  .comment-controls
    position: absolute
    right: 0
    button
      margin: 0 5px

.closeCommentCircle
  cursor: pointer
  font-size: 20px !important
  color: gray !important
.closeCommentCircle:hover
  transform: scale(1.3)

.comment-close-button
  margin-left: 98%
.addCommentDiv
  display: flex
  justify-content: flex-end